<!--Header-->
<%- include('partials/header') %>
<!--Header-->

<div class="container mt-4"> <!--Contendor Principal-->

  <h1>Página de inicio</h1>

    <div class="text-end mb-3">
      <a href="/skills/add" type="button" class="btn btn-outline-primary">Añadir nueva skill</a>
    </div>

  </div>


        

<!--Footer-->
<%- include('partials/footer') %>
<!--Footer-->