body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  line-height: 1.6;
  text-align: center;
}

a {
  color: #00B7FF;
}
h1 {
  font-size: 32px;
  color: #007acc;
  margin-bottom: 20px;
  text-align: center;
}
p {
  font-size: 18px;
  color: #555;
  margin: 10px 0;
  text-align: center;
}
ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  text-align: center;
}

ul li {
  font-size: 18px;
  margin: 10px 0;
}
.hexagon {
  fill: none;
  stroke: blue;
  stroke-width: 2;
}
#skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center; 
}
.svg-wrapper {
flex: 0 0 125px; 
position: relative;
}
.svg-wrapper:hover {
transform: scale(1.2);
}
.svg-wrapper:hover .icon-wrapper {
display: block; 
}
#skill-description {
margin-top: 20px;
padding: 10px;
border: 2px solid yellow;
text-align: center;
}
.icon-wrapper {
position: absolute;
cursor: pointer;
display: none;
}
.badge-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.badge {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  width: 150px;
  text-align: center;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}
.badge img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}
.badge p {
  font-size: 0.9rem;
  margin: 0;
  color: #555;
}
.skill-detail {
  text-align: center;
  margin-top: 20px;
  }

  .skill-detail img {
  width: 50px;
  height: 50px;
  }

  .skill-detail p {
  margin-top: 10px;
  font-size: 16px;
  }
  .task {
  margin-bottom: 10px;
  }
  .task input[type="checkbox"] {
  margin-right: 10px;
  }
  #tasks-form {
  margin-top: 20px;
  }
  #evidencia-form {
      display: none;
  }

