<footer class="bg-dark text-white text-center py-3 mt-4">
    <div class="container">
        <p class="mb-1">&copy; 2024 My Skills Website. </p>
        <p class="mb-0">
            <a href="/aboutus" class="text-decoration-none text-info">Contact Us</a>
        </p>
    </div>
</footer>
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">


</body>
</html>