<!--Header-->
<%- include('partials/header') %>
<!--Header-->

<div class="container mt-4">
    <!-- Header -->
    <h1>About Us</h1>

    <!-- Authors  -->
    <h2 class="mt-4 text-start">Autores</h2>
    <hr> <!-- Linea horizontal -->
    <ul class="text-start">
        <li>Leslie Sanchez: leshcsr@gmail.com <a href="https://github.com/leshcsr" class="btn btn-outline-dark btn-sm ms-2">
            <i class="fab fa-github"></i> @leshcsr
        </a></li>
        <li>Marta Zulaica<a href="https://github.com/MartaZulaica" class="btn btn-outline-dark btn-sm ms-2">
            <i class="fab fa-github"></i> @MartaZulaica
        </a></li>
        <li>Juan Pablo Zambrano: juanpablozambrano@proton.me <a href="https://github.com/JuanZambrano2000" class="btn btn-outline-dark btn-sm ms-2">
            <i class="fab fa-github"></i> @JuanZambrano2000
        </a></li>
    </ul>
</div>
</div>

<!--Footer-->
<%- include('partials/footer') %>
<!--Footer-->