<!--Header-->
<%- include('partials/header') %>
<!--Header-->

<div class="container mt-4">
    <!-- Header -->
    <h1>About Us</h1>

    <!-- Authors  -->
    <h2 class="mt-4 text-start">Autores</h2>
    <hr> <!-- Linea horizontal -->
    <ul class="text-start">
        <li>Leslie Sanchez</li>
        <li>Marta Zulaica</li>
        <li>Juan Pablo Zambrano</li>
    </ul>
</div>
</div>

<!--Footer-->
<%- include('partials/footer') %>
<!--Footer-->