<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .skill-detail {
        text-align: center;
        margin-top: 20px;
        }

        .skill-detail img {
        width: 50px;
        height: 50px;
        }

        .skill-detail p {
        margin-top: 10px;
        font-size: 16px;
        }

    </style>
</head>
<body>
    <div class="skill-detail">
        <h1>Skill: <%= skill.text %></h1>
        <img src="<%= skill.icon %>" alt="<%= skill.title %>">
        <p><%= skill.description %></p>



        <form action="">
            <label for="evidencia">Sube tu evidencia:</label>
            <br>
            <textarea id="evidencia" name="evidencia" rows="4" cols="50" placeholder="Escribe aquí..."></textarea><br><br>
            <button type="submit">Enviar</button>
        </form>

      </div>      
</body>
</html>