<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script type="module" src="/js/main.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Skills / Sistemas Web (2024-2025)</p>

    <p>By:</p>
    <ul>
      <li>Juan Pablo Zambrano</li>
      <li>Leslie Sánchez</li>
      <li>Marta Zulaica </li>
    </ul>

  </body>
</html>
